// flexbox
@mixin flexBox($flexJC: center, $flexAC: center, $flexW: nowrap) {
  display: flex;
  flex-wrap: $flexW;
  justify-content: $flexJC;
  align-items: $flexAC;
}

// extend
@mixin container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

// responsive
@mixin mobile {
  @media screen and (max-width: #{$maxIphone}) {
    @content;
  }
}
@mixin smallTablet {
  @media screen and (max-width: #{$minTablet}) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: #{$maxTablet}) {
    @content;
  }
}
@mixin noteBook {
  @media screen and (max-width: #{$maxNote}) {
    @content;
  }
}
