// flexbox
@mixin flexBox($flexJC: center, $flexAC: center, $flexW: nowrap) {
  display: flex;
  flex-wrap: $flexW;
  justify-content: $flexJC;
  align-items: $flexAC;
}

// extend
@mixin container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

// input
@mixin profileInput {
  width: 100%;
  font-size: 16px;
  background-color: $black;
  color: $white;
  border-radius: 5px;
  transition: $easeFive;
  margin-top: 8px;
}

@mixin inputFocus {
  outline: 1px solid $mainColor;
  color: $mainColor;
  background-color: $white;
}

// responsive
@mixin mobile {
  @media screen and (max-width: #{$maxIphone}) {
    @content;
  }
}
@mixin smallTablet {
  @media screen and (max-width: #{$minTablet}) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: #{$maxTablet}) {
    @content;
  }
}
@mixin noteBook {
  @media screen and (max-width: #{$maxNote}) {
    @content;
  }
}
