// color
$black: #2a0100;
$realBlack: #000;
$white: #fff;
$mainColor: #820606;
$subColor: #6d1d1c;
$lightGray: #eee;
$bgColor: #d8ae84;
$darkTheme: #121212;
$darkFontColor: #bbb;

$materialIcon: "Material Icons";

// animation
$easeFive: all 0.5s ease;

// responsive break point
$minIphone: 320px;
$maxIphone: 767px;
$minTablet: 768px;
$maxTablet: 1024px;
$minNote: 1280px;
$maxNote: 1440px;
