// Config
@import "./config/_variables";
@import "./config/_reset.scss";
@import "./config/_mixin.scss";

// Components
@import "./Components/common.scss";
@import "./Components/header.scss";
@import "./Components/videoPlayer.scss";
@import "./Components/animation.scss";
@import "./Components/loading.scss";

// Screen
@import "./screens/video.scss";
@import "./screens/profile.scss";
@import "./screens/main.scss";
@import "./screens/404.scss";

//
// font
//
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700;800&family=Hahmlet:wght@200;300;400;500;600;700;800&display=swap");

// Regular 400
// SemiBold 600
// Bold 700
// ExtraBold 800
.eng {
  font-family: "Cinzel", serif;
}

// ExtraLight 200
// Light 300
// Regular 400
// Medium 500
// SemiBold 600
// Bold 700
// ExtraBold 800
.kor {
  font-family: "Hahmlet", serif;
}
//

//
// css custom
//
::selection {
  background-color: $black;
  color: $white;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Hahmlet", serif;
  background: url("/src/client/img/paper.jpg") repeat 0 0;
  color: $black;
  cursor: none !important;
}
.common {
  overflow-x: hidden !important;
}
a {
  color: $black;
  display: block;
  text-decoration: none;
  transition: $easeFive;

  &:hover {
    transition: $easeFive;

    &.hover-link {
      cursor: none;
    }
  }
}

img {
  max-width: 100%;
  vertical-align: bottom;
}
