// Config
@import "./config/_variables";
@import "./config/_reset.scss";
@import "./config/_fonts.scss";
@import "./config/_mixin.scss";

// Components
@import "./Components/common.scss";
@import "./Components/header.scss";
@import "./Components/videoPlayer.scss";

// Screen

* {
  box-sizing: border-box;
}

body {
  font-family: "YUniverse-L";
  background: $black;
  color: $white;
}
a {
  color: $white;
  display: block;
}

a,
a:hover {
  transition: $easeFive;
  text-decoration: none;
}

img {
  max-width: 100%;
}
