// Config
@import "./config/_variables";
@import "./config/_reset.scss";
@import "./config/_fonts.scss";
@import "./config/_mixin.scss";

// Components
@import "./Components/common.scss";
@import "./Components/header.scss";
@import "./Components/videoPlayer.scss";
@import "./Components/animation.scss";
@import "./Components/loading.scss";

// Screen
@import "./screens/video.scss";
@import "./screens/profile.scss";
@import "./screens/main.scss";
@import "./screens/404.scss";

::selection {
  background-color: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "YUniverse-L";
  background: url("/src/client/img/paper.jpg") repeat 0 0;
  color: $black;
  cursor: none !important;
}
.common {
  overflow-x: hidden !important;
}
a {
  color: $black;
  display: block;
  text-decoration: none;

  &:hover {
    transition: $easeFive;

    &.hover-link {
      cursor: none;
    }
  }
}

img {
  max-width: 100%;
}
