#watch {
  @include flexBox($flexAC: flex-start);
}

.uploader-wrap {
}

//
// comment
//
.comment-container {
  border: 1px solid red;

  .comment-write-container {
    border: 1px solid blue;
  }

  // 출력
  .comment-output-container {
    border: 1px solid blue;

    .comment-output-inner {
      text-align: left;

      a {
        display: inline-block;

        .comment-avatar {
          @include flexBox($flexJC: flex-start);

          .profile-image {
            border: 1px solid red;
            margin-right: 5px;
          }
        }
        .comment-info {
          text-align: left;
          p {
          }
          .comment-date {
          }
        }
      }
    }

    .comment-cont {
      border: 1px solid red;
      .delete-comment {
      }
    }
  }
}

.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  .video-mixin {
    border: 1px solid $white;

    .video-mixin_thumb {
      background: $white;
      width: 100%;
      height: 140px;
      border-radius: 10px;
      margin-bottom: 1.4rem;
    }

    .video-mixin_data {
      .video-mixin_title {
      }
      .video-mixin_meta {
      }
      .hashtag {
        @include flexBox($flexW: wrap);
        li {
          border-radius: 50px;
          background: $white;
          color: $black;
          padding: 5px 10px;
          margin-right: 5px;
        }
      }
    }
  }
}

//
//
// comment
//
.comment-output-inner {
  border: 1px solid red;

  // delete
  .delete-comment {
    cursor: pointer;
  }
}
