@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes loading {
  100% {
    background-position: -1287px 0;
  }
}

@keyframes rotateCircle {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes mainLogo {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 40px;
  }
  100% {
    margin-top: 0px;
  }
}
