//
// cursor
//
.cursor {
  width: 3rem;
  height: 3rem;
  border: 3px solid $white;
  border-radius: 50%;
  position: absolute;
  z-index: 9999999;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  background-size: cover;
  mix-blend-mode: difference;

  .link-wrap {
    display: none;
  }

  &.link-cursor {
    transform: scale(2);
    background-color: $white;
    position: absolute;
    top: 40%;
    left: 20%;

    .link-wrap {
      mix-blend-mode: normal !important;
      display: block;
      animation: rotateCircle 6s linear infinite;
      position: absolute;
      top: -6px;
      left: -6px;
      width: 54px;
      height: 54px;
      border-radius: 50%;
      border: 1px solid $white;

      .cursor-rotate {
        display: block;
        position: absolute;
        top: -6px;
        left: -7px;
        width: 70px;
        height: 65px;
        border-color: $white;

        &:last-child {
          transform: scaleY(-1);
        }

        span {
          text-transform: uppercase;
          position: absolute;
          color: $white;
          font-size: 10px;

          &:nth-child(1) {
            top: 20px;
            left: -2px;
            transform: rotate(-88deg);
          }
          &:nth-child(2) {
            left: 8px;
            top: 1px;
            transform: rotate(-41deg);
          }
          &:nth-child(3) {
            left: 27px;
            top: -7px;
            transform: rotate(-2deg);
          }
          &:nth-child(4) {
            left: 51px;
            top: 2px;
            transform: rotate(40deg);
          }
          &:nth-child(5) {
            left: 62px;
            bottom: 36px;
            transform: rotate(72deg);
          }
        }
      }
    }
  }
}

//
// .not-found
//
.not-found {
  img {
    border-radius: 30px;
    width: 50%;
  }
  span {
    display: block;
    padding: 2rem 0;
    font-size: 18px;
    line-height: 30px;
  }
}

//
// layout
//
main,
.container {
  max-width: 1600px;
  @include container;
}
.row {
  max-width: 1200px;
  @include container;
}

main {
  padding-top: 150px;
}

//
// profile image
//
.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  &.no-img {
    background-color: $white;
    position: relative;

    &::before {
      content: "No Data";
      @include flexBox;
      color: $black;
      height: 100%;
      text-align: center;
      font-size: 13px;
    }
  }
}

//
// basic input custom
//
input,
textarea {
  padding: 10px 20px;
  border: 1px solid transparent;
  font-size: 16px;
  font-family: "Hahmlet", serif;
  font-weight: 400;
  transition: $easeFive;
  line-height: 2em;

  &:focus {
    @include inputFocus;
  }
}
textarea {
  resize: none;
}

//
// footer
//
footer {
  margin: 2rem auto 0 !important;
  padding: 2rem 0 4rem;
  border-top: 1px solid $black;
}

//
// button eff
//
.button-eff {
  position: relative;
  border: 1px solid $black;
  color: $black;
  border-radius: 50px;
  padding: 1rem 2rem;
  width: 100%;

  &::before {
    transition: $easeFive;
    font-family: $materialIcon;
    content: "chevron_right";
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: $black;
    color: $white;

    &::before {
      animation: btnArrow 2s infinite ease;
    }
  }
}

//
// message//error
//

.message {
  z-index: 999;
  position: fixed;
  right: 30px;
  bottom: 30px;
  margin: 0 auto;
  max-width: 200px;
  padding: 10px 20px;
  border-radius: 10000px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 3s;
  &.error {
    background-color: $mainColor;
    color: white;
  }
}

.video-container {
  .search-ttl {
    text-align: center;
  }
}

@include noteBook {
  main {
    padding: 150px 2rem 2rem;
  }
}

@include smallTablet {
  main {
    padding-top: 4rem;
  }

  footer {
    margin: 2rem auto 56px;
  }

  .message {
    right: 0;
    left: 0;
    top: 30px;
    bottom: auto;
    animation: errorMobile 0.5s ease-in-out forwards;
    animation-delay: 3s;
  }
}
