header {
  @include flexBox($flexJC: space-between);
  padding: 1.6rem 0;
  width: 100%;
  position: fixed;
  transition: $easeFive;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: $black;

  &.scroll {
    padding: 10px 0;

    nav {
      .drop-menu {
        top: 67px;
      }
    }
  }

  a {
    color: $white;
  }

  h1 {
    padding-left: 2rem;

    a {
      @include flexBox;

      span.eng {
        font-weight: 400;
      }

      img {
        width: 50px;
      }
    }
  }

  .search-wrap {
    form {
      @include flexBox($flexAC: flex-start);

      input[type="text"] {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 500px;
      }

      .hover-link {
        background: $mainColor;
        border: 1px solid $white;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: $white;

        &:hover {
          background-color: $realBlack;
        }
      }
    }
  }

  nav {
    position: relative;
    padding-right: 2rem;

    ul.nav {
      @include flexBox;

      li {
        font-size: 1.2em;

        &.search-icon {
          display: none;
        }

        a {
          @include flexBox($flexW: wrap);

          i {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2em;
          }
          span {
            font-weight: 400;
            font-size: 14px;
          }
        }

        &:not(:last-child) {
          margin-right: 5px;
        }

        i {
          font-size: 1.2em;
          transition: $easeFive;
        }

        &.login {
          font-size: 1.4em;
          @include flexBox;
          a {
            display: flex;

            i {
              display: inline-block;
              width: auto;
              font-size: 24px;
            }
            span {
              margin-left: 10px;
              font-size: 20px;
            }
          }
          &.open {
            span {
              i {
                transition: $easeFive;
                transform: rotate(-180deg);
                margin-top: -3px;
              }
            }
          }
        }

        // dark mode icon
        &.theme-change {
          a {
            i {
              animation: rotateCircle 6s linear infinite;
            }
          }
        }
      }
    }

    .drop-menu {
      width: 400px;
      position: fixed;
      top: 104px;
      right: 10px;
      visibility: hidden;
      opacity: 0;
      transition: $easeFive;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      overflow: hidden;
      background: $black;

      &.open {
        visibility: visible;
        opacity: 1;
        transition: $easeFive;
      }

      li {
        text-align: center;

        &:not(:last-child) {
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        }

        a {
          padding: 1rem 2rem;
          @include flexBox($flexAC: center);

          span {
            display: inline-block;
            margin-right: 10px;
          }

          &:hover {
            background: $mainColor;
          }
        }
      }
    }
  }
}

//
//
//
// responsive
//
@include tablet {
  header {
    &.scroll {
      padding: 6px 20px;
    }
    .search-wrap {
      form {
        @include flexBox($flexAC: flex-start);

        input[type="text"] {
          width: 200px;
        }
      }
    }
  }
}

@include smallTablet {
  header {
    bottom: 0;
    padding: 0;
    top: auto;

    &.scroll {
      padding: 0;

      nav {
        .drop-menu {
          &.open {
            top: auto;
          }
        }
      }
    }

    h1 {
      padding-left: 1rem;
      a {
        span.eng {
          display: none;
        }
      }
    }

    .search-wrap {
      display: none;
    }

    nav {
      padding-right: 0;

      ul.nav {
        align-items: flex-start;

        li {
          border-left: 1px solid $white;
          width: 40%;
          padding: 10px;

          &:not(:last-child) {
            margin-right: 0;
          }

          &.search-icon {
            display: block;
          }
          &.theme-change {
            display: none;
          }
          &.login {
            width: auto;
            padding: 17px 10px;

            a {
              flex-wrap: nowrap;
            }
          }
        }
      }

      .drop-menu {
        bottom: 76px;
        top: auto;
        right: 0;
        width: 100%;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
}

@include mobile {
  header {
    h1 {
      padding: 0 1rem;
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}
