header {
  @include flexBox($flexJC: space-between);
  padding: 1.6rem 0;
  width: 100%;
  position: fixed;
  transition: $easeFive;
  z-index: 99;
  background-color: $mainColor;

  &.scroll {
    padding: 0.4rem 0;
  }

  h1 {
    padding-left: 2rem;
  }

  nav {
    border: 1px solid green;
    position: relative;
    padding-right: 2rem;

    ul.nav {
      @include flexBox;

      li {
        border: 1px solid blue;
        font-size: 1.2em;

        &:not(:last-child) {
          margin-right: 5px;
        }

        .header__avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;

          &.no-img {
            background-color: $white;
            position: relative;

            &::before {
              content: "No Data";
              @include flexBox;
              color: $black;
              height: 100%;
              text-align: center;
              font-size: 13px;
            }
          }
        }

        i {
          font-size: 1.2em;
          transition: $easeFive;
        }

        &.login {
          cursor: pointer;
          font-size: 1.4em;
          @include flexBox;

          span {
            @include flexBox;
            margin-left: 10px;
          }

          &.open {
            span {
              i {
                transition: $easeFive;
                transform: rotate(-180deg);
                margin-top: -3px;
              }
            }
          }
        }
      }
    }

    .drop-menu {
      width: 20%;
      position: fixed;
      top: 100px;
      right: 10px;
      visibility: hidden;
      opacity: 0;
      transition: $easeFive;
      border-radius: 10px;
      background: $black;

      &.open {
        visibility: visible;
        opacity: 1;
        transition: $easeFive;
      }

      li {
        text-align: center;

        a {
          padding: 1rem 2rem;
          @include flexBox($flexAC: center);

          span {
            display: inline-block;
            margin-right: 10px;
          }

          &:first-child {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
          }
          &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
          }

          &:hover {
            background: #000;
          }
        }
      }
    }
  }
}

.tests {
  padding: 100% 0;
}

@include tablet {
  header {
    align-items: flex-start;
    flex-direction: column;

    &.scroll {
      padding: 6px 20px;

      .hamburger {
        top: 10px;
      }
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}
