#videoContainer {
  background: $black;
  position: relative;
  border-radius: 30px;
  overflow: hidden;

  video {
    width: 100%;
    cursor: pointer;
  }

  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background: #000;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 95%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px;

    &.showing {
      opacity: 1;
    }

    button {
      cursor: pointer;
      color: $white;
      background: none;
      border: 0;
    }

    .controls_time {
      @include flexBox($flexJC: space-between);
      color: $white;

      #timeLine {
        width: 100%;
      }

      .time {
        width: 140px;
        text-align: right;
        color: #fff;
      }
    }

    .controls {
      @include flexBox($flexJC: space-between);

      .controls_volume {
        @include flexBox($flexJC: space-between);
      }
    }

    input[type="range"] {
      all: unset;
      background-color: transparent;
      border-radius: 50px;
      overflow: hidden;
      height: 10px;
      -webkit-appearance: none;
      width: 100%;

      &::focus {
        outline: 0;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 10px;
        height: 10px;
        background: $mainColor;
        box-shadow: -100vw 0 0 100vw $mainColor;
      }
      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 100%;
        cursor: pointer;
        border-radius: 5px;
        background-color: $white;
      }
    }
  }
}
