include mixins/message
include partials/head

body.common.before-load
  include partials/loading
  include partials/cursor

  if messages.error 
    +messages("error", messages.error)
  if messages.info 
    +messages("info", messages.info)
  if messages.success 
    +messages("success", messages.success)
  include partials/header


  block content
  include partials/footer
script(src="/static/js/main.js")
script(src="/static/js/cursor.js")
block scripts