include mixins/message
include partials/head

body.common
  div.cursor

  include partials/loading

  if messages.error 
    +messages("error", messages.error)
  if messages.info 
    +messages("info", messages.info)
  if messages.success 
    +messages("success", messages.success)
  include partials/header

  main
    block content
  include partials/footer
script(src="/static/js/main.js")
script(src="/static/js/cursor.js")
block scripts