extends base
include mixins/video

block content 
  aside 
    h2 기숙사 현황
    div 
      h3 그리핀도르
      p 기숙사 소개
        span 그리핀도르 기숙사에 온 것을 환영해. 우리의 상징은 동물 중에서 가장 위대한 사자야. 우리 기숙사의 색은 진홍색과 금색이고 우리 기숙사 휴게실은 그리핀도르 탑에 있어. 여기는 간단히 말하자면 호그와트에서 가장 좋은 기숙사야. 여기는 가장 용감하고 대담한 사람들이 모인 곳이야. 예를 들면 알버스 덤블도어! 맞아! 덤블도어 말야. 우리 시대 가장 위대한 마법사가 그리핀도르 출신이야!
    
    div 
      h3 슬리데린
      p 기숙사 소개
        span 슬리데린 기숙사에 온 것을 환영해.우리의 상징은 가장 지혜로운 동물인 뱀이야.우리 기숙사 색깔은 녹색과 은색이고 우리 기숙사 휴게실은 지하감옥에 숨겨진 입구 뒤에 있어.보면 알겠지만 창 밖으로 보이는 건 호그와트 호수의 심연이야.우리 기숙사 유령은 피투성이 남작이야.
    
    div 
      h3 래번클로
      p 기숙사 소개
        span 래번클로에 온 것을 환영해.우리의 상징은 독수리야. 다른 것들이 기어올라올 수 없는 곳까지 높이 날 수 있지.우리 기숙사의 색깔은 파랑과 청동빛이고, 우리 기숙사 휴게실은 래번클로 탑의 마법에 걸린 문고리 뒤에 있어.원형의 휴게실 벽에는 아치형 창문이 있어서 학교 운동장, 금지된 숲, 퀴디치 경기장, 정원을 내려다볼 수 있어.래번클로는 가장 똑똑한 마법사들이 들어오는 기숙사야.우리 기숙사 창립자인 로웨나 래번클로는 다른 무엇보다 배움을 가장 높게 평가했고 우리도 역시 그래.우리 기숙사의 유령은 회색 숙녀야.

    div 
      h3 후플푸프
      p 기숙사 소개
        span 후플푸프 기숙사에 온 걸 환영해. 우리의 상징은 오소리야.종종 과소평가 받는 동물이지. 왜냐하면 공격을 받기 전까진 조용하고 친절하기 때문이야.하지만 공격을 받으면, 늑대처럼 자기보다 큰 동물도 싸워서 이겨낼 수 있어.우리 기숙사 색은 노랑과 검정이고 우리 기숙사 휴게실은 연회장 옆 1층에 있어.우리 기숙사 유령은 뚱보 수도사야. 

  section
    div#noticeSlide
      h2 Notice! 
      p 요즘 머글들이 이 사이트에 접속한다고 합니다. 공공장소에서 사용한 뒤에는 제발 로그아웃 좀 하세요.


  section 
    div 
      h2 호그와트 유명인
      figure 
        img(src="", alt="")
        figcaption 
          h2 harry potter 
          p 안녕? 모두 알겠지만 내가 그 호그와트를 구한 영웅 해리포터야. 물론 볼드모트는 내 밥이야.^^ 
          p 내 호그와튜브에 참여하고 싶니? 수강료 100 갈레온만 내면 너도 나와 함께 영상을 찍을 수 있어^^
          p 말포이 너는 입 좀 닥쳐줄래?


    h2 New Video
    div.video-grid
      
      each video in videos
        +video(video)
      else
        span.empty__message No videos found
      
      div.tests