extends base
include mixins/video

block content 
  main
    section
      div#noticeSlide
        h2 Notice! 
        p 요즘 머글들이 이 사이트에 접속한다고 합니다. 공공장소에서 사용한 뒤에는 제발 로그아웃 좀 하세요.



    section.video-container
      h2.eng trending video
      div.video-grid
        
        each video in videos
          +video(video)
        else
          span.empty__message No videos found
      