extends base
include mixins/video

block content 
  section.row
    div.video-grid
      each video in videos
        +video(video)
      else
        span.empty__message No videos found
      
      div.tests