extends base

block content 
  main
    div
      video#preview
      button#actionBtn Start Recording 
    
    div.recoder-btn
      a(href="/videos/upload") upload page 

block scripts 
  script(src="/static/js/recorder.js")