extends base
include mixins/video

block content
  main.search-container

    include partials/search

    section.video-container
      h2.search-ttl #{pageTitle}
      div.video-grid
        each video in videos
          +video(video)
        else
          div.not-found
            span.eng Not found