extends base.pug
include mixins/video.pug

block content
  main



    section.video-container
      h2.search-ttl #{pageTitle}
      div.video-grid
        each video in videos
          +video(video)
        else
          div.not-found
            span.eng Not found