div.cursor
  div.link-wrap
    div.cursor-rotate
      span.eng l
      span.eng u
      span.eng m
      span.eng o
      span.eng s
    div.cursor-rotate
      span.eng l
      span.eng u
      span.eng m
      span.eng o
      span.eng s