doctype html 
html(lang="ko")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="marauders secret video site")
    meta(name="author", content="saewa lee")
    meta(name="copyright", content="saewa lee")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/static/css/style.css")
    link(rel="icon", href="/favicon.ico", type="image/x-icon")