header 
  h1 
    a(href="/") hogwartube
  
  
  nav 
    ul.nav
      li
        a(href="/search")
          i.material-icons search
        
      if loggedIn
        li.login
          if !loggedInUser.avatarUrl
            p.header__avatar.no-img
            
          else
            img(src=`${loggedInUser.socialOnly ? "":"/"}` + loggedInUser.avatarUrl, crossorigin).header__avatar

          span #{loggedInUser.name}
            i.material-icons expand_more
            
        li 
          a(href="")
            i.material-icons notifications
            | 
      else
        li 
          a(href="/join")
            i.material-icons person_add
            | Join
        li 
          a(href="/login")
            i.material-icons login
            | Login
          
    ul.drop-menu
      li 
        a(href="/videos/upload")
          span.material-icons upload
          | Upload Video
      li 
        a(href=`/users/${loggedInUser._id}`)
          span.material-icons account_circle 
          | My Channel
      li
        a(href="/users/edit")
          span.material-icons manage_accounts
          | 비밀의 방 Edit Profile
      li 
        a(href="/users/logout")
          span.material-icons logout 
          | 머글의 세계로 Logout
  //- div.hamburger
  //-   span 
  //-   span 
  //-   span
div.overlay
