div.loading
  div.ani
    div.rotate-wrap
      p.rotate
        span m
        span a
        span r
        span a
        span u
        span d
        span e
        span r
        span s
      p.rotate
        span m
        span a
        span r
        span a
        span u
        span d
        span e
        span r
        span s