div.search-wrap
  form(method="GET" action="/search")
    input(placeholder="검색어를 입력하세요. ex)스네이프 재수없음, 해리포터 나대지마라", type="text", name="keyword")
    input(type="submit", name="" value="Search now").hover-link.eng