extends ../base.pug

block content
  main.row.basic-form-container
    if errorMessage
      div.message.error
        span=errorMessage


    form(method="POST").basic-form
      legend  비밀번호 변경

      fieldset.basic-form-info
        div.input-inner
          label(for="oldpass") 지금 사용하고 있는 비밀번호
          input(name="oldPass" placeholder="Old Password" type="password" required, id="oldpass")

        div.input-inner
          label(for="newpass") 변경할 비밀번호
          input(name="newPass" placeholder="New Password" type="password" required, id="newpass")

        div.input-inner
          label(for="newpass2") 변경할 비밀번호 확인
          input(name="newPass2" placeholder="New Password Confirmation" type="password" required, id="newpass2")

        input(type="submit" value="Change Password").hover-link