extends ../base.pug

block content
  if errorMessage
    span=errorMessage
  form(method="POST")
    input(name="oldPass" placeholder="Old Password" type="password" required)
    input(name="newPass" placeholder="New Password" type="password" required)
    input(name="newPass2" placeholder="New Password Confirmation" type="password" required)
    input(type="submit" value="Change Password")