extends ../base.pug

block content
  main.row.basic-form-container
    if errorMessage
      div.message.error
        span=errorMessage
    
    form(method="POST").basic-form.login-form
      legend
        span 
          span.eng #{siteName}
        | 로그인

      fieldset
        div.basic-form-info
          div.input-inner
            label(for="id") 아이디
            input(name="username", type="text", required, placeholder="아이디", id="id")

          div.input-inner
            label(for="password") 비밀번호
            input(name="password", type="password", required, placeholder="비밀번호", id="password")

          input(type="submit", value="Login").hover-link.eng

          include ../partials/social-login
          
          div.account-check
            span 아직 
              span.eng #{siteName}
              | 에 합류하지 않았나요?
            a(href="/join").button-eff 합류하기