extends ../base
include ../mixins/video.pug

block content
  main#channel
    h3 #{user.name}의 채널
    div.profile__data
      p.user-avatar
        if !user.avatarUrl
          p.avatar-img.no-img
            
        else
          if user.avatarUrl[0]==="h"
            img(src=user.avatarUrl, crossorigin).avatar-img
          else
            img(src="/" + user.avatarUrl, crossorigin).avatar-img
      a(href="/users/edit") 프로필 수정하러 가기
    span #{user.word}
    div.video-grid
      each video in user.videos
        +video(video)
      else
        span.empty__message No videos found
